<div class="row students-list">
  <h2>List of students</h2>
  <div ng-hide="students.length" class="alert alert-warning" role="alert">
      <strong>Seems that no one has arrived yet</strong>. Take the change to add a new student in the following form.
  </div>

  <table ng-show="students.length" class="table table-striped table-hover">
    <thead>
      <tr>
        <th>id</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Email</th>
        <th>Date of birth</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="student in students">
        <td>{{student.pk}}</td>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.date_of_birth || '---'}}</td>
        <td>
          <button ng-click="edit(student.pk)" type="button" class="btn btn-info btn-xs" title="Edit student"><i class="glyphicon glyphicon-pencil"></i></button>
          <button ng-click="remove(student.pk)" type="button" class="btn btn-danger btn-xs" title="Remove student"><i class="glyphicon glyphicon-remove"></i></button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row student-form">
  <h2>Add new student</h2>
  <form name="productForm" ng-submit="save()" role="form" novalidate>
    <input data-ng-model="formStudent.pk"  type="hidden" id="pk">
    <div class="form-group">
      <label class="control-label" for="firstname">First name</label>
      <input data-ng-model="formStudent.first_name"  type="text" class="form-control" id="firstname" placeholder="Student's first name" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="lastname">Last name</label>
      <input data-ng-model="formStudent.last_name" type="text" class="form-control" id="lastname" placeholder="Student's last name" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="email">Email</label>
      <input data-ng-model="formStudent.email" type="email" class="form-control" id="email" placeholder="Student's email address" required>
    </div>
    <div class="form-group">
      <label class="control-label" for="dateofbirth">Date of birth</label>
      <input data-ng-model="formStudent.date_of_birth" class="form-control" id="dateofbirth" type="date" name="date_of_birth" placeholder="Student's date of birth">
    </div>
    <button type="submit" class="btn btn-info" ng-disabled="productForm.$invalid">Save</button>
  </form>
</div>
